<!DOCTYPE html>
<html lang="en">
<!-- This is a base html file which contains the structure for all the pages
All other html files inherit from this -->
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Project page{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <!-- Header -->
    <header>
        <nav>
            <a href="{% url 'admin:index' %}" id="admin_panel">Admin panel</a>
            {% if user.is_authenticated %}
                {% if user.is_staff %}
                    <p>Logged in as {{ user.username }}, admin = {{ user.is_staff }}</p>
                {% else %}
                    <p>Logged in as {{ user.username }}</p>
                {% endif %}
            <form method="POST" action="{% url 'logout' %}">
                {% csrf_token %}
                <input type="submit" value="Log out"></input>
            </form>
            {% else %}
                <a href="{% url 'login' %}">Log in</a>
            {% endif %}
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'search' %}">Search</a></li>
                <li><a href="{% url 'admin_only' %}">Admin only</a></li>
                <li><a href="{% url 'secure_data' %}">Secure data</a></li>
            </ul>
        </nav>
    </header>

    <!-- Main content block -->
    <main>
        {% block content %}
        <!-- Default content goes here -->
        {% endblock %}
    </main>

    <!-- Footer Section -->
    <footer>
        <p>&copy; <strong>MOOC Cyber Security Base 2024 Project - Juuso Piippo</strong></p>
    </footer>
</body>
</html>